{ "Account-Game-Dev": "1234567",
  "Account-Game-Staging": "2345678",
  "Account-Game": "3456789",
  "Account-Trade": "4567890",
  "Token-Trade": "qwertyuiopasdfghjkllzxcvbnm-1234567890",
  "Token-Game": "qwertyuiopasdfghjklzxcvbnm-1234567890"
}
